.container {
  width: 100%;
}
.dropdown {
  max-width: 400px;
  user-select: none;
  position: relative;
}
.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #2f2f2f;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #8a8a8a;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  position: relative;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #2f2f2f;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  color: #8a8a8a;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}

.size-icon {
  width: 15px;
}
